.choose-color {
    padding-top: 5px;
    padding-bottom: 5px;
}

.grey-light {
    background-color: #efefef;
}

.grey-strong {
    background-color: #e4e4e4;
}

.colors-1 {
    &.pos {
        background-color: #cdf7f9;
        h1, h4 {
            color: #7cc9d0;
        }
    }
    &.neg {
        background-color: #d5c6c2;
        h1, h4 {
            color: #847470;
        }
    }
}

.colors-2 {
    &.pos {
        background-color: #cdbad2;
        h1, h4 {
            color: #7e498c;;
        }
    }
    &.neg {
        background-color: #eddc99;;
        h1, h4 {
            color: #d2a700;;
        }
    }
}

.colors-3 {
    &.pos {
        background-color: #a9c1e6;;
        h1, h4 {
            color: #5b6c96;;
        }
    }
    &.neg {
        background-color: #ffb3b3;;
        h1, h4 {
            color: #ff4141;;
        }
    }
}

.colors-4 {
    &.pos {
        background-color: #b0c3bf;;
        h1, h4 {
            color: #39685f;;
        }
    }
    &.neg {
        background-color: #e09ebe;;
        h1, h4 {
            color: #b20d5c;;
        }
    }
}

.colors-5 {
    &.pos {
        background-color: #d0e5b3;
        h1, h4 {
            color: #8abf41;
        }
    }
    &.neg {
        background-color: #8abf41;
        h1, h4 {
            color: #a644a3;
        }
    }
}

.colors-6 {
    &.pos {
        background-color: #cbcca9;
        h1, h4 {
            color: #979a53;
        }
    }
    &.neg {
        background-color: #b9dbe5;
        h1, h4 {
            color: #1687a9;
        }
    }
}

.colors-7 {
    &.pos {
        background-color: #b9dbe5;
        h1, h4 {
            color: #1687a9;
        }
    }
    &.neg {
        background-color: #e9dcb9;
        h1, h4 {
            color: #c8a751;
        }
    }
}

.colors-8 {
    &.pos {
        background-color: #addde0;
        h1, h4 {
            color: #00939d;
        }
    }
    &.neg {
        background-color: #f3c799;
        h1, h4 {
            color: #e07400;
        }
    }
}

