.choose-color {
    padding-top: 5px;
    padding-bottom: 5px;
}

.grey-light {
    background-color: #efefef;
}

.grey-strong {
    background-color: #e4e4e4;
}

.colors-1 {
    &.pos {
        &.bg {
            background-color: #cdf7f9;
            h1 { 
                color: rgb(51, 51, 51);
            }
            b { 
                color: #7cc9d0;
            }

        }
        h1 {
            color: #7cc9d0;
        }
    }
    &.neg {
        &.bg {
            background-color: #d5c6c2;
            h1 { 
                color: rgb(51, 51, 51);
            }
            b { 
                color: #847470;
            }

        }
        h1 {
            color: #847470;
        }
    }
}

.colors-2 {
    &.pos {
        &.bg {
            background-color: #cdbad2;
            h1 { 
                color: rgb(51, 51, 51);
            }
            b { 
                color: #7e498c;;
            }

        }
        h1 {
            color: #7e498c;;
        }
    }
    &.neg {
        &.bg {
            background-color: #eddc99;;
            h1 { 
                color: rgb(51, 51, 51);
            }
            b { 
                color: #d2a700;;
            }

        }
        h1 {
            color: #d2a700;;
        }
    }
}

.colors-3 {
    &.pos {
        &.bg {
            background-color: #a9c1e6;;
            h1 { 
                color: rgb(51, 51, 51);
            }
            b { 
                color: #5b6c96;;
            }

        }
        h1 {
            color: #5b6c96;;
        }
    }
    &.neg {
        &.bg {
            background-color: #ffb3b3;;
            h1 { 
                color: rgb(51, 51, 51);
            }
            b { 
                color: #ff4141;;
            }

        }
        h1 {
            color: #ff4141;;
        }
    }
}

.colors-4 {
    &.pos {
        &.bg {
            background-color: #b0c3bf;;
            h1 { 
                color: rgb(51, 51, 51);
            }
            b { 
                color: #39685f;;
            }

        }
        h1 {
            color: #39685f;;
        }
    }
    &.neg {
        &.bg {
            background-color: #e09ebe;;
            h1 { 
                color: rgb(51, 51, 51);
            }
            b { 
                color: #b20d5c;;
            }

        }
        h1 {
            color: #b20d5c;;
        }
    }
}

.colors-5 {
    &.pos {
        &.bg {
            background-color: #d0e5b3;
            h1 { 
                color: rgb(51, 51, 51);
            }
            b { 
                color: #8abf41;
            }

        }
        h1 {
            color: #8abf41;
        }
    }
    &.neg {
        &.bg {
            background-color: #8abf41;
            h1 { 
                color: rgb(51, 51, 51);
            }
            b { 
                color: #a644a3;
            }

        }
        h1 {
            color: #a644a3;
        }
    }
}

.colors-6 {
    &.pos {
        &.bg {
            background-color: #cbcca9;
            h1 { 
                color: rgb(51, 51, 51);
            }
            b { 
                color: #979a53;
            }

        }
        h1 {
            color: #979a53;
        }
    }
    &.neg {
        &.bg {
            background-color: #b9dbe5;
            h1 { 
                color: rgb(51, 51, 51);
            }
            b { 
                color: #1687a9;
            }

        }
        h1 {
            color: #1687a9;
        }
    }
}

.colors-7 {
    &.pos {
        &.bg {
            background-color: #b9dbe5;
            h1 { 
                color: rgb(51, 51, 51);
            }
            b { 
                color: #1687a9;
            }

        }
        h1 {
            color: #1687a9;
        }
    }
    &.neg {
        &.bg {
            background-color: #e9dcb9;
            h1 { 
                color: rgb(51, 51, 51);
            }
            b { 
                color: #c8a751;
            }

        }
        h1 {
            color: #c8a751;
        }
    }
}

.colors-8 {
    &.pos {
        &.bg {
            background-color: #addde0;
            h1 { 
                color: rgb(51, 51, 51);
            }
            b { 
                color: #00939d;
            }

        }
        h1 {
            color: #00939d;
        }
    }
    &.neg {
        &.bg {
            background-color: #f3c799;
            h1 { 
                color: rgb(51, 51, 51);
            }
            b { 
                color: #e07400;
            }

        }
        h1 {
            color: #e07400;
        }
    }
}

