.selectable-image.selected {
    background-color: @link-color;
}

.selectable-image {
    padding-top: 5px;
    padding-bottom: 5px;
}

.oik-col img {
    width:100%;
}

.progress {
    margin-bottom: 20px;
    margin-top: 15px;
}
