.margin-row {
    margin-bottom: 10px;
}

.row.equal .col-md-6 {
    position: relative;
}

.oik-view {
    padding-top: 35px;
    padding-bottom: 25px;
    /*font-size: 16px;*/
}

.oik-view p, h1 {
    padding-left: 50px;
    padding-right: 60px;
}

.bottom-controls {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/*When the modal fills the screen it has an even 2.5% on top and bottom*/
/*Centers the modal*/
#rotate-modal .modal-dialog {
    margin: 2.5vh auto;
}

/*Sets the maximum height of the entire modal to 95% of the screen height*/
#rotate-modal .modal-content {
    height: 95vh;
}

/*Sets the maximum height of the modal body to 90% of the screen height*/
#rotate-modal .modal-content {
    height: 90vh;
}
/*Sets the maximum height of the modal image to 69% of the screen height*/
#rotate-modal .modal-content canvas {
    height: 80vh;
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

#rotate-modal .modal-header {
    border-bottom: none;
}

#rotate-modal .modal-content canvas.fullscreen {
    position: fixed;
    left:0;
    top:0;
   // width: 100%;
    height: 100%;
    padding: 0;
}

.canvas-container {
    position: relative;
}

a.canvas-fs {
    position: absolute;
    right: 1.5em;
    bottom: 1.5em;
    color: black;
    cursor: pointer;
}

//To make anchor-navigation work the right way for footnote-refs and items
/*
.footnote-item {
    padding-top: 65px; 
    margin-top: -65px;
}

.footnote-ref a {
    padding-top: 65px; 
    margin-top: -65px;
}

*/
.std-image {
    max-height: 330px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.popover {
    max-width: 400px;
    width: auto;
}
