.full-width-image {
    width:100%;
    padding: 10px;
}


.equal {
    display: -webkit-box;
      display: -webkit-flex;
        display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}
.equal > div[class*='col-'] {  
    display: flex;
    flex-direction: column;
}


