{{#top-menu}}
    Fortbildung: Fehlerbilder
{{/top-menu}}
<div class="container">
<div class="row pad">
        <div class="col-md-12 grey-strong">
            <h3>Zu folgenden Objekten werden Fortbildungen angeboten:</h3>
        </div>
    </div>
    <div class="row pad margin-row">
        {{#each model as |eimg index|}}  
                <div class="col-md-3 text-center unit-preview {{if (isEven index) "grey-strong" "grey-light"}}">
                    {{#link-to "solve-error-image" eimg.id}}
                        {{auth-image imageSrc='/api/get-image/${id}' imageId=eimg.correctImage.id styleClasses="full-width-image"}}
                    {{/link-to}}
                    <!--</a>-->
                </div>
        {{/each}}
    </div>
</div>
{{outlet}}
