{{outlet}}
{{#top-menu}}
    Impressum
{{/top-menu}}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p><strong>Inhaltlich verantwortlich: </strong></p>
            <p>Prof. Dr. Martin Langner<br>
            Archäologisches Institut und Sammlung der Gipsabgüsse<br>
            Georg-August-Universität Göttingen<br>
            37073 Göttingen<br>
            Martin.Langner@phil.uni-goettingen.de<br>
            Telefon 0551 / 397506<br>
            http://www.uni-goettingen.de/de/434947.html</p>
            <p>Prof. Dr. Caroline Sporleder<br>
            Institut für Informatik und<br>
            Göttingen Centre for Digital Humanities (GCDH),<br>
            Georg-August-Universität Göttingen<br>
            37073 Göttingen<br>
            caroline.sporleder@cs.uni-goettingen.de<br>
            Telefon 0551 / 3921490<br>
            http://www.gcdh.de/en/people/team/caroline-sporleder</p>
            <p><strong>Nutzungsbedingungen:</strong></p>
            <p>Bitte informieren Sie uns, wenn Sie der Ansicht sind, dass ein hier veröffentlichter Scan eine Urheberrechtsverletzung darstellt; wir werden diesen Fall umgehend lösen.</p>
            <p><strong>Haftungshinweis: </strong></p>
            <p>Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.</p>
            <p><strong>Datenschutzerklärung</strong></p>
            <p><strong>Erhebung, Verarbeitung und Nutzung personenbezogener Daten</strong></p>
            <p>Personenbezogene Daten werden nur erhoben, wenn Sie uns diese von sich aus (z.B. bei der Anmeldung als Mitglied unseres Portals) mitteilen. Darüber hinaus werden keine personenbezogenen Daten erhoben.</p>
            <p><strong>Einsatz von Webserver-Logfiles</strong></p>
            <p>Auf dieser Website werden in eigenen Webserver-Logfiles Daten (wie zum Beispiel die IP-Adresse der Webseiten-Besucher) zur Durchführung betrieblich erforderlicher Benutzerzählungs- und Optimierungsmaßnahmen gesammelt und gespeichert. Die Anlage und Auswertung dieser Webserver-Logfiles ist erforderlich, um die Webseite betreiben zu können.</p>
            <p><strong>Einsatz eigener „Cookies“</strong></p>
            <p>Unsere Webseite verwendet eigene „Cookies“, um die Benutzerfreundlichkeit zu erhöhen („Cookies“ sind Datensätze, die vom Webserver an den Browser des Nutzers gesandt und dort für einen späteren Abruf gespeichert werden). In unseren eigenen „Cookies“ werden keinerlei personenbezogene Daten gespeichert. Sie können die Verwendung von „Cookies“ generell verhindern, wenn Sie in Ihrem Browser die Speicherung von „Cookies“ untersagen.</p>
        </div>
    </div>
</div>
