<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>    
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li class="navbar-left"><a class="" href="http://www.uni-goettingen.de"><img class="navbar-image" src="images/logo.png"></a></li>
      <li class="navbar-right"><a href="#about"><img src="images/info.png" class="navbar-image"></a></li>
    </ul>
  </div>
</nav>
  <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 intro-text">
                {{#link-to 'units' class="button"}}
                    <h1>Objekte im<br>Kreuzverhör</h1>
                {{/link-to}}
            </div>
        </div>
        <!-- /.row -->
    </div>
<!-- /.container --
<!-- /.intro-header -->
{{outlet}}
