<div class="container">
<div class="col-md-3">
    {{#if session.isAuthenticated}}
        <p>blafasel</p>
    {{/if}}
    {{auth-image imageId=2 styleClasses="full-width-image"}}
    <img src="api/get-image/2">
    {{currentUser.user.name}}
    {{#each currentUser.user.units as |unit|}}
        <p>{{unit.title}}</p>
    {{/each}}
    </div>
</div>
{{outlet}}
